@import "../../../../../theme/colors";
.header{
  color: $greyish-brown;
}

.mat-checkbox{
  font-family: Lato;
}

.expanded{
  height: auto;
}

.hide{
  cursor: pointer;
  font-size: 12px;
  color: $butterscotch;
  padding: 10px 0;
}
.add-more-section {
  &{
    cursor: pointer;
  }
  span{
    color: $butterscotch;
    font-size: 12px;
  }
}

