<div class="container">
  <div class="header d-flex p-3 hr">
    <div class="col-3 p-0 d-flex font-w-bold">
      Class name
    </div>
    <div class="col-3 p-0 d-flex font-w-bold">
      Sections
    </div>
    <div class="col-3 p-0 d-flex font-w-bold">
      Programme
    </div>
  </div>
  <div *ngFor="let classData of classesData.classes; let i = index">
    <div *ngIf="edit !== i; else editCurrent">
      <div class="existing-categories p-3 d-flex hr" >
        <div class="col-3 p-0 d-flex font-w-bold">
          <div>{{classData.name}}</div>
        </div>
        <div class="col-3 p-0 d-flex font-w-bold">

        </div>
        <div class="col-6 p-0 d-flex font-w-bold">
          <div class="action-buttons ml-auto d-flex">
            <div class="px-1 mx-1" style="cursor: pointer" (click)="edit = i">
              <mat-icon class="px-2">edit</mat-icon>
            </div>
            <div class="px-1 mx-1" style="cursor: pointer" (click)="deleteProgramme(i)">
              <mat-icon class="px-2">delete</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let section of classData['section']; let j = index">
        <div class="existing-categories p-3 d-flex hr" *ngIf="edit !== i; else editCurrent">
          <div class="col-3 p-0 d-flex font-w-bold">
          </div>
          <div class="col-3 p-0 d-flex font-w-bold">
            {{section.name}}
          </div>
          <div class="col-6 p-0 d-flex font-w-bold">
            <div>
              {{findProgrammeById(section.program)}}
            </div>
            <div class="action-buttons ml-auto d-flex">
              <div class="px-1 mx-1" style="cursor: pointer" (click)="deleteSection(i, j)">
                <mat-icon class="px-2">delete</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #editCurrent>
      <div class="existing-categories p-3 d-flex hr" >
        <div class="col-3 p-0 d-flex font-w-bold">
          <input class="form-control text-input-med col-10" [(ngModel)]="classesData.classes[i]['name']"/>
        </div>
        <div class="col-3 p-0 d-flex font-w-bold">
        </div>
        <div class="col-6 p-0 d-flex font-w-bold">
          <div class="action-buttons ml-auto d-flex">
            <div class="px-1 mx-1" style="cursor: pointer" (click)="edit = -1">
              <mat-icon class="px-2">done</mat-icon>
            </div>
            <div class="px-1 mx-1" style="cursor: pointer" (click)="deleteProgramme(i)">
              <mat-icon class="px-2">delete</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let section of classData['section']; let j = index">
        <div class="existing-categories p-3 d-flex hr">
          <div class="col-3 p-0 d-flex font-w-bold">
          </div>
          <div class="col-3 p-0 d-flex font-w-bold">
            <input class="form-control text-input-med col-10" [(ngModel)]="classesData.classes[i]['section'][j]['name']"/>
          </div>
          <div class="col-6 p-0 d-flex font-w-bold">

            <div class="dropdown default" ngbDropdown>
              <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                {{findProgrammeById(classesData.classes[i]['section'][j]['program'])}}
              </button>
              <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item" (click)="classesData.classes[i]['section'][j]['program'] = program.id" *ngFor="let program of programmes.programmes">{{program.name}}</li>
              </ul>
            </div>
            <div class="action-buttons ml-auto d-flex">
              <div class="px-1 mx-1" style="cursor: pointer" (click)="deleteSection(i, j)">
                <mat-icon class="px-2">delete</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <!-- Add new Section -->
  <div class="add-new p-3 d-flex flex-wrap" *ngFor="let section of activeInputProgramSection; let i = index">
    <div class="col-3 p-0 d-flex font-w-bold">
      <input class="form-control text-input-med col-10" *ngIf="i === 0" placeholder="Grade 10" [(ngModel)]="activeInputName"/>
    </div>
    <div class="col-3 p-0 d-flex font-w-bold flex-column">
      <input class="form-control text-input-med col-10" placeholder="A" [(ngModel)]="activeInputProgramSection[i]['name']"/>
    </div>
    <div class="col-5 p-0 d-flex font-w-bold">
      <div class="dropdown default" ngbDropdown>
        <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
          {{findProgrammeById(activeInputProgramSection[i]['program'])}}
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" (click)="setProgram(i, program.id)" *ngFor="let program of programmes.programmes">{{program.name}}</li>
        </ul>
      </div>
    </div>
    <div class="col-1" *ngIf="i === activeInputProgramSection.length - 1; else deleteSection">
      <mat-icon class="plus-button" (click)="addClass()">add_circle</mat-icon>
    </div>
    <ng-template #deleteSection>
      <div class="col-1" style="cursor: pointer" (click)="removeSection(i)"><mat-icon class="px-2">delete</mat-icon></div>
    </ng-template>
  </div>
  <div class="px-3 py-1 d-flex flex-wrap">
    <div class="col-3 p-0 d-flex"></div>
    <div class="col-3 p-0 d-flex add-more-section pt-1" (click)="addSection()"><mat-icon class="plus-button small">add_circle</mat-icon> <span class="pt-1">Add Section</span></div>
  </div>
  <div class="d-flex text-center">
    <button class="primary-button my-5 mx-auto" (click)="updateClasses()" [disabled]="classesData.classes.length === 0">Proceed</button>
  </div>
</div>

