<div class="header">
  <div class="col-5 d-flex align-items-center">
    Board name
  </div>
  <div class="col-7 d-flex align-items-center">
    Stream Description
  </div>
</div>
<div class="content">
  <div *ngFor="let board of segmentData; let i = index" class="d-flex p-3">
    <div class="col-5">
      <div>{{board['board']}}</div>

    </div>
    <div class="col-7">
      <div class="py-2 d-flex" *ngFor="let stream of board['streams']; let j = index">
        <div class="d-flex w-100" *ngIf="edit.length && edit[0] === i && edit[1] === j; else justText">
          <input name="edit" [(ngModel)]="segmentData[i]['streams'][j]['name']" class="form-control text-input-med col-4">
          <mat-icon (click)="edit = segmentData[i]['streams'][j]['name'] ? [] : edit" class="ml-auto px-3 py-1" style="cursor: pointer">done</mat-icon>
        </div>
        <ng-template #justText>
          <div>{{stream['name']}}</div>
        </ng-template>
        <div class="ml-auto"><mat-icon class="mx-3" *ngIf="edit.length === 0" (click)="edit = [i , j]" style="cursor: pointer;">edit</mat-icon><mat-icon style="cursor: pointer" class="mx-3" *ngIf="edit.length === 0" (click)="deleteStream(i, j)">delete</mat-icon></div>
      </div>
      <div class="d-flex py-2">
        <input type="text" class="form-control text-input-med col-5" name="addStream" placeholder="Add new stream" [(ngModel)]="streams[i]"><mat-icon class="px-3 py-1 plus-button" (click)="addStream(i)">add_circle</mat-icon>
      </div>
    </div>
  </div>
  <div class="d-flex py-3 border-top">
    <div class="col-5">
      <input class="w-75 form-control text-input-med" placeholder="ICSE, CBSE, IGCSE, Other" [(ngModel)]="newBoardData[0]">
    </div>
    <div class="col-7 d-flex">
      <input class="form-control text-input-med w-50" placeholder="Science, Commerce, School etc …" [(ngModel)]="newBoardData[1]">
      <mat-icon class="mx-5 px-1 plus-button ml-auto" (click)="addBoard()">add_circle</mat-icon>
      <div class="mr-5"></div>
    </div>
  </div>
</div>
<div class="flex text-right mr-5 my-4">
  <input type="submit" class="primary-button ml-auto" value="Save" (click)="submitData()" [disabled]="segmentData && !segmentData.length">
</div>
