<div class="container">
  <div class="header d-flex p-3 hr">
    <div class="col-3 p-0 d-flex font-w-bold">
      Category name
    </div>
    <div class="col-9 p-0 d-flex font-w-bold">
      Compulsory/Elective Group
    </div>
  </div>
  <div *ngFor="let category of subjectCategoryData.categories; let i = index">
    <div class="existing-categories p-3 d-flex hr" *ngIf="edit !== i; else editCategory">
      <div class="col-3 p-0 d-flex font-w-bold">
        {{category.name}}
      </div>
      <div class="col-9 p-0 d-flex font-w-bold">
        {{category.compulsory ? 'Compulsory' : 'Elective'}}
        <div class="action-buttons ml-auto d-flex">
          <div class="px-1 mx-1" style="cursor: pointer" (click)="edit = i">
            <mat-icon class="px-2">edit</mat-icon>
          </div>
          <div class="px-1 mx-1" style="cursor: pointer" (click)="deleteCategory(i)">
            <mat-icon class="px-2">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <ng-template #editCategory>
      <div class="existing-categories p-3 d-flex hr">
        <div class="col-3 p-0 d-flex font-w-bold">
          <input class="form-control text-input-med col-10" [(ngModel)]="subjectCategoryData.categories[i]['name']"/>
        </div>
        <div class="col-9 p-0 d-flex font-w-bold">
          <mat-radio-group class="mt-2" [(ngModel)]="subjectCategoryData.categories[i]['compulsory']">
            <mat-radio-button [value]="true" class="pr-2">Compulsory</mat-radio-button>
            <mat-radio-button [value]="false" class="pl-2">Elective Group</mat-radio-button>
          </mat-radio-group>
          <div class="ml-auto px-2">
            <mat-icon (click)="edit = -1" style="cursor: pointer;">done</mat-icon>
          </div>
        </div>

      </div>
    </ng-template>
  </div>
  <div class="add-new p-3 d-flex">
    <div class="col-3 p-0 d-flex font-w-bold">
      <input class="form-control text-input-med col-10" [(ngModel)]="activeInputCategory"/>
    </div>
    <div class="col-8 p-0 d-flex font-w-bold">
      <mat-radio-group class="mt-2" [(ngModel)]="activeInputCompulsory">
        <mat-radio-button [value]="true" class="pr-2">Compulsory</mat-radio-button>
        <mat-radio-button [value]="false" class="pl-2">Elective Group</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-1">
      <mat-icon class="plus-button" (click)="addCategory()">add_circle</mat-icon>
    </div>
  </div>

  <div class="d-flex text-center">
    <button class="primary-button my-5 mx-auto" (click)="updateCategories()" [disabled]="subjectCategoryData.categories.length === 0">Proceed</button>
  </div>
</div>

