<nb-layout>
  <nb-layout-header [fixed]="true">
    <div class="logo">

    </div>
    <div class="name-heading">
      {{institutionName}}
    </div>
    <div class="right-container">
      <div class="segment-container" *ngIf="segmentData && segmentData.length">
        <div *ngIf="segmentData">
          <mat-form-field>
            <mat-select placeholder="" [(ngModel)]="selectedSegment[0]" (selectionChange)="segmentChange(true)">
              <mat-option *ngFor="let board of segmentData; let i = index" [value]="i">
                {{ board.board }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="" [(ngModel)]="selectedSegment[1]" (selectionChange)="segmentChange()">
              <mat-option *ngFor="let stream of segmentData[selectedSegment[0]]['streams']; let j = index" [value]="j">
                {{stream.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="help">Help</div>
      <nb-user [showName]="false"></nb-user>
    </div>
  </nb-layout-header>
  <nb-sidebar [fixed]="true" [state]="'compacted'">
    <div class="d-flex flex-column mt-5">
      <a *ngFor="let menu of compactIcon" routerLink="{{menu['link']}}" class="menu-icon d-flex flex-column" [class.menu-selected]="isLinkSelected(menu['highlight'])">
        <div class="icon-icon">
          <mat-icon>{{menu['icon']}}</mat-icon>
        </div>
        <div class="icon-title">{{menu['title']}}</div>
      </a>
    </div>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
