@import "../../../theme/colors";

$icon-size: 32px;
.logo{
  width: 4.75rem;
  height: 100%;
  background: $butterscotch;
}
.name-heading{
  padding: 0 24px;
  font-size: 36px;
  text-transform: capitalize;
  color: $heading-color;
}
.right-container{
  display: flex;
  margin-left: auto;
  padding: 0 24px;
}

.help{
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: 20px;
  margin-left: auto;
}

.menu-icon{
  width: 4.75rem;
  height: 4.75rem;
}
.menu-icon:hover{
  text-decoration: none;
}
.icon-icon{
  & {
    color: $heading-color;
    font-size: $icon-size;
    text-align: center;
  }
  mat-icon{
    font-size: $icon-size;
  }
  .mat-icon{
    width: $icon-size;
    height: $icon-size;
  }
}

.icon-title{
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  color: $heading-color;
}

.menu-selected{
  & {
    color: $butterscotch;
  }
  .icon-icon {
    color: $butterscotch;
  }
  .icon-title {
    color: $butterscotch;
  }
}
