<div class="container d-flex flex-column justify-content-center align-items-center">
  <h4 class="my-5">Setup the form for capturing the required details from the users</h4>
  <div class="button-custom d-flex col-4 my-2" (click)="openStudentDrawer = true"> <mat-icon class="pt-1">local_library</mat-icon> <div class="px-3">Students/Parents</div>  <i class="fa fa-caret-right py-1 ml-auto"></i></div>
  <div class="button-custom d-flex col-4 my-2" (click)="openTeacherDrawer = true"> <mat-icon class="pt-1">person</mat-icon> <div class="px-3">Staff members</div> <i class="fa fa-caret-right py-1 ml-auto"></i> </div>
</div>
<app-drawer-overlay [(show)]="openStudentDrawer">
  <app-student-add></app-student-add>
</app-drawer-overlay>
<app-drawer-overlay [(show)]="openTeacherDrawer">
  <app-staff-add>

  </app-staff-add>
</app-drawer-overlay>
