@import "../../../../../theme/colors";

.button-custom {
  &{
    color: $butterscotch;
    padding: 10px;
    border: 1px solid $butterscotch;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
  }
  mat-icon {
  }
}
