@import "../../../../../theme/colors";
.header{
  color: $greyish-brown;
}
.mat-checkbox{
  font-family: Lato;
}
.select-container{
  border: 2px solid $greyish-brown;
  border-radius: 4px;
  overflow: hidden;
  padding: 8px 0;
  height: 40px;
}
.select-container p {
  cursor: pointer;
}
.checkbox-container{
  max-height: 288px;
  margin-top: 24px;
  max-width: 320px;
  font-size: 16px;
  color: $greyish-brown;
  overflow: auto;
}

mat-checkbox{
  padding-bottom: 12px;
  padding-top: 4px;
}

.expanded{
  height: auto;
}

.program-value-list{
  & {
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
  }
  div p{
    margin: 0;
    padding: 8px 0;

  }
  div p:empty {
    border-bottom: none;
    padding: 0;
  }
}
.hide{
  cursor: pointer;
  font-size: 12px;
  color: $butterscotch;
  padding: 10px 0;
}
