<div class="container">
  <div class="header d-flex p-3 hr">
    <div class="col-3 p-0 d-flex font-w-bold">
      Programme name
    </div>
    <div class="col-9 p-0 d-flex font-w-bold">
      Subjects Included
    </div>
  </div>
  <div *ngFor="let program of programData.programmes; let i = index">
    <div class="existing-categories p-3 d-flex hr" *ngIf="edit !== i; else editCurrent">
      <div class="col-3 p-0 d-flex font-w-bold">
        {{program.name}}
      </div>
      <div class="col-9 p-0 d-flex font-w-bold">
        <div class="program-value-list" #pvl>
          <div *ngFor="let subject of getCompulsorySubjects()">
            <p *ngIf="program.subjects.indexOf(subject.code) > - 1">{{subject.name}}</p>
          </div>
          <div *ngFor="let category of getElectiveCategories()">
            <p *ngIf="program.elective_groups.indexOf(category.id) > - 1">{{category.name}}</p>
          </div>
        </div>
        <div class="hide" (click)="pvl.style.height = pvl.style.height === 'auto' ? '36px' : 'auto'">
          <span *ngIf="pvl.style.height === 'auto'; else showall">Hide All <i class="fa fa-angle-up"></i></span>
          <ng-template #showall><span>Show All <i class="fa fa-angle-down"></i></span></ng-template>
        </div>
        <div class="action-buttons ml-auto d-flex">
          <div class="px-1 mx-1" style="cursor: pointer" (click)="edit = i">
            <mat-icon class="px-2">edit</mat-icon>
          </div>
          <div class="px-1 mx-1" style="cursor: pointer" (click)="deleteProgramme(i)">
            <mat-icon class="px-2">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <ng-template #editCurrent>
      <div class="existing-categories p-3 d-flex hr">
        <div class="col-3 p-0 d-flex font-w-bold">
          <input class="form-control text-input-med col-10" [(ngModel)]="programData.programmes[i]['name']"/>
        </div>
        <div class="col-8 p-0 d-flex font-w-bold">
          <div class="select-container col-6 expanded">
            <p class="m-0 px-2">Select </p>
            <div class="col-12 d-flex flex-column checkbox-container pt-2">
              <mat-checkbox *ngFor="let subject of getCompulsorySubjects()" labelPosition="left" [labelPosition]="'start'" (change)="toggleCompulsoryExisting(subject.code, i)" [checked]="programData.programmes[i].subjects.indexOf(subject.code) > -1">
                {{subject.name}}
              </mat-checkbox>
              <mat-checkbox *ngFor="let category of getElectiveCategories()" labelPosition="left" [labelPosition]="'start'" (change)="toggleElectiveExisting(category.id, i)" [checked]="programData.programmes[i].elective_groups.indexOf(category.id) > -1">
                {{category.name}}
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-1 p-0 d-flex font-w-bold">
          <div class="ml-auto px-2">
            <mat-icon (click)="edit = -1" style="cursor: pointer;">done</mat-icon>
          </div>
        </div>

      </div>
    </ng-template>
  </div>
  <div class="add-new p-3 d-flex">
    <div class="col-3 p-0 d-flex font-w-bold">
      <input class="form-control text-input-med col-10" [(ngModel)]="activeInputProgram"/>
    </div>
    <div class="col-8 p-0 d-flex font-w-bold">
      <div class="select-container col-6" [class.expanded]="selectExpanded && edit == -1">
        <p class="m-0 px-2" (click)="selectExpanded = !selectExpanded">Select <i *ngIf="selectExpanded; else caretdown" class="fa fa-angle-up ml-auto float-right"></i> <ng-template #caretdown><i class="fa fa-angle-down ml-auto float-right"></i></ng-template>  </p>
        <div class="col-12 d-flex flex-column checkbox-container pt-2">
          <mat-checkbox *ngFor="let subject of getCompulsorySubjects()" labelPosition="left" [labelPosition]="'start'" (change)="toggleCompulsory(subject.code, i)" [checked]="activeInputCompulsorySubjects.indexOf(subject.code) > -1">
            {{subject.name}}
          </mat-checkbox>
          <mat-checkbox *ngFor="let category of getElectiveCategories()" labelPosition="left" [labelPosition]="'start'" (change)="toggleElective(category.id, i)" [checked]="activeInputElective.indexOf(category.id) > -1">
            {{category.name}}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="col-1">
      <mat-icon class="plus-button" (click)="addProgramme()">add_circle</mat-icon>
    </div>
  </div>

  <div class="d-flex text-center">
    <button class="primary-button my-5 mx-auto" (click)="updateProgrammes()" [disabled]="programData.programmes.length === 0">Proceed</button>
  </div>
</div>

