<div class="container">
  <div class="header d-flex p-3 hr">
    <div class="col-3 p-0 d-flex font-w-bold">
      House name
    </div>
    <div class="col-9 p-0 d-flex font-w-bold">
      House Description
    </div>
  </div>
  <div *ngFor="let house of housesData.houses; let i = index">
    <div class="existing-categories p-3 d-flex hr" *ngIf="edit !== i; else editCategory">
      <div class="col-3 p-0 d-flex font-w-bold">
        {{house.name}}
      </div>
      <div class="col-9 p-0 d-flex font-w-bold">
        {{house.description}}
        <div class="action-buttons ml-auto d-flex">
          <div class="px-1 mx-1" style="cursor: pointer" (click)="edit = i">
            <mat-icon class="px-2">edit</mat-icon>
          </div>
          <div class="px-1 mx-1" style="cursor: pointer" (click)="deleteHouses(i)">
            <mat-icon class="px-2">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <ng-template #editCategory>
      <div class="existing-categories p-3 d-flex hr">
        <div class="col-3 p-0 d-flex font-w-bold">
          <input class="form-control text-input-med col-10" [(ngModel)]="housesData.houses[i]['name']"/>
        </div>
        <div class="col-9 p-0 d-flex font-w-bold">
          <input class="form-control text-input-med col-10" [(ngModel)]="housesData.houses[i]['description']"/>
          <div class="ml-auto px-2">
            <mat-icon (click)="edit = -1" style="cursor: pointer;">done</mat-icon>
          </div>
        </div>

      </div>
    </ng-template>
  </div>

  <!-- New Entry -->
  <div class="add-new p-3 d-flex">
    <div class="col-3 p-0 d-flex font-w-bold">
      <input class="form-control text-input-med col-10" [(ngModel)]="activeInputName"/>
    </div>
    <div class="col-8 p-0 d-flex font-w-bold">
      <input class="form-control text-input-med col-10" [(ngModel)]="activeInputDescription"/>
    </div>
    <div class="col-1">
      <mat-icon class="plus-button" (click)="addHouses()">add_circle</mat-icon>
    </div>
  </div>

  <div class="d-flex text-center">
    <button class="primary-button my-5 mx-auto" (click)="updateHouses()">Proceed</button>
  </div>
</div>
