<div class="container">
  <div class="header d-flex p-3 hr">
    <div class="col-3 p-0 d-flex font-w-bold">
      Subject name
    </div>
    <div class="col-3 p-0 d-flex font-w-bold">
      Subject Code
    </div>
    <div class="col-3 p-0 d-flex font-w-bold">
      Subject Category
    </div>
  </div>
  <div *ngFor="let subject of subjects.subjects; let i = index">
    <div class="existing-categories p-3 d-flex hr" *ngIf="edit !== i; else editCategory">
      <div class="col-3 p-0 d-flex font-w-bold">
        {{subject.name}}
      </div>
      <div class="col-3 p-0 d-flex font-w-bold">
        {{subject.code}}
      </div>
      <div class="col-6 p-0 d-flex font-w-bold">
        <div class="col-6 p-0 d-flex font-w-bold">
          {{getCategoryNameById(subject.category)}}
        </div>
        <div class="action-buttons ml-auto d-flex">
          <div class="px-1 mx-1" style="cursor: pointer" (click)="edit = i">
            <mat-icon class="px-2">edit</mat-icon>
          </div>
          <div class="px-1 mx-1" style="cursor: pointer" (click)="deleteSubjects(i)">
            <mat-icon class="px-2">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <ng-template #editCategory>
      <div class="existing-categories p-3 d-flex hr">
        <div class="col-3 p-0 d-flex font-w-bold">
          <input class="form-control text-input-med col-10" [(ngModel)]="subjects.subjects[i]['name']" placeholder="Subject name"/>
        </div>
        <div class="col-3 p-0 d-flex font-w-bold">
          <input class="form-control text-input-med col-10" [(ngModel)]="subjects.subjects[i]['code']" placeholder="Code"/>
        </div>
        <div class="col-6 p-0 d-flex font-w-bold">
          <select class="text-input-med col-6" [(ngModel)]="subjects.subjects[i]['category']">
            <option *ngFor="let category of subjectCategoryData.categories" [value]="category.id">
              {{category.name}}
            </option>
          </select>
          <div class="ml-auto px-2">
            <mat-icon (click)="edit = -1" style="cursor: pointer;">done</mat-icon>
          </div>
        </div>

      </div>
    </ng-template>
  </div>
  <div class="add-new p-3 d-flex">
    <div class="col-3 p-0 d-flex font-w-bold">
      <input class="form-control text-input-med col-10" [(ngModel)]="activeInputName" placeholder="Subject Name"/>
    </div>
    <div class="col-3 p-0 d-flex font-w-bold">
      <input class="form-control text-input-med col-10" [(ngModel)]="activeInputCode" placeholder="Code"/>
    </div>
    <div class="col-5 p-0 d-flex font-w-bold">
      <select class="text-input-med col-6" [(ngModel)]="activeInputCategory">
        <option *ngFor="let category of subjectCategoryData.categories" [value]="category.id">
          {{category.name}}
        </option>
      </select>
    </div>
    <div class="col-1">
      <mat-icon class="plus-button" (click)="addSubjects()">add_circle</mat-icon>
    </div>
  </div>

  <div class="d-flex text-center">
    <button class="primary-button my-5 mx-auto" (click)="updateSubjects()" [disabled]="subjects.subjects.length === 0">Proceed</button>
  </div>
</div>

