@import "../../../../theme/colors";
@import "../../../../theme/theme";
.institute-info{
  margin-top: 16px;
  margin-bottom: 16px;
  height: 8rem;
  width: 100%;
  background: white;
}

.profile-pic{
  & {
    color: white;
    display: inherit;
    align-items: center;
    font-size: 32px;
    justify-content: center;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    background: $butterscotch;
    margin: 32px;
  }
  mat-icon{
    font-size: 32px;
    height: 32px;
    width: 32px;
  };
}

.institute-name {
  font-size: 36px;
  display: inherit;
  margin: 32px 0;
  align-self: flex-end;
  width: 568px;
  border-bottom: 4px solid $heading-color;
  color: $heading-color;
}

.tabset{
  font-family: $font-primary;
}
.tab-container{
  padding: 24px;
}
form label{
  font-weight: bold;
}

input[type="submit"][disabled]{
  background: #e0e0e0;
}
