<div class="main-layout-container">
  <div class="institute-info d-flex align-items-center">
    <div class="profile-pic">
      <mat-icon>account_balance</mat-icon>
    </div>
    <div class="institute-name">
      {{instituteName}}
    </div>
  </div>
</div>

<div class="main-layout-container">
  <nb-tabset class="tabset bg-white">
    <nb-tab tabTitle="General Info." [active]="!instituteFormSubmitted">
      <div class="tab-container">
        <form autocomplete="off" [formGroup]="instituteForm">
          <div class="form-group">
            <label for="subdomain-name">Domain Name</label>
            <span class="d-flex align-items-center"><input type="text" class="form-control text-input-med col-4" id="subdomain-name" placeholder="" disabled="" value="{{instituteSubdomain}}"><span class="pl-2">.haive.net</span></span>
          </div>
          <div class="form-group">
            <label for="subdomain-name">Address</label>
            <div class="d-flex">
              <input type="text" class="form-control text-input-med col-4 mr-3" id="address-street" formControlName="address-street" name="address-street" placeholder="Street" [(ngModel)]="instituteData.address.line1" required="" maxlength="255">
              <input type="text" class="form-control text-input-med col-2 mx-3" id="address-city" formControlName="address-city" name="address-city" placeholder="City" [(ngModel)]="instituteData.address.city" required="" maxlength="255">
              <input type="text" class="form-control text-input-med col-2 mx-3" id="address-state" formControlName="address-state" name="address-state" placeholder="State" [(ngModel)]="instituteData.address.state" required="" maxlength="255">
              <input type="text" class="form-control text-input-med col-2 mx-3" id="address-zipcode" formControlName="address-zipcode" name="address-zipcode" placeholder="Zip Code" [(ngModel)]="instituteData.address.zipCode" required="" maxlength="6">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 pr-0 mr-3">
              <label for="inputEmail">Email address</label>
              <input type="email" class="form-control text-input-med col-12" id="inputEmail" formControlName="inputEmail" name="inputEmail" placeholder="example@abc.com" [(ngModel)]="instituteData.email" required="" email>
            </div>
            <div class="form-group col-md-6 mx-3">
              <label for="phone">Phone no.</label>
              <div class="d-flex">
                <input type="text" class="form-control text-input-med col-2 mr-2" id="phone" formControlName="phone" name="phone" placeholder="" [(ngModel)]="phoneCode" required="">
                <input type="text" class="form-control text-input-med col-4 mx-2" id="phoneNumber" formControlName="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" required="">
              </div>
            </div>
          </div>
          <div class="form-row align-items-end">
            <div class="form-group col-md-4 pr-0 mr-3">
              <label for="academicyear">Academic Year</label>
              <div class="input-group">
                <input type="text" [matDatepicker]="startYear" class="form-control text-input-med col-12" id="academicyear" formControlName="academicyear" name="academicyear" placeholder="From" [(ngModel)]="instituteData.academicYear.startYear" required="">
                <div class="input-group-append">
                  <span class="input-group-text bg-white" style="cursor: pointer" (click)="startYear.open()"><mat-icon>event</mat-icon></span>
                </div>
                <mat-datepicker #startYear></mat-datepicker>
              </div>
            </div>
            <div class="form-group col-md-4 pr-0 mx-3">
              <div class="input-group">
                <input type="text" [matDatepicker]="endYear" class="form-control text-input-med col-12" placeholder="To" id="endAcademicYear" formControlName="endAcademicYear" name="endAcademicYear" [(ngModel)]="instituteData.academicYear.endYear" required="">
                <div class="input-group-append">
                  <span class="input-group-text bg-white" style="cursor: pointer" (click)="endYear.open()"><mat-icon>event</mat-icon></span>
                </div>
                <mat-datepicker #endYear></mat-datepicker>
              </div>
            </div>
          </div>
          <div class="flex text-right mr-5 mt-2">
            <input type="submit" class="primary-button ml-auto" value="Save" (click)="submitData()" [disabled]="!instituteForm.valid">
          </div>
        </form>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Segments" [active]="instituteFormSubmitted">
      <app-institute-details-segment></app-institute-details-segment>
    </nb-tab>
  </nb-tabset>
</div>
