@import "../../../theme/colors";
@import "../../../theme/theme";
.menu{
  padding: 24px;
  font-size: 18px;
  color: $heading-color;
  font-family: $font-primary;
}

.menu:hover {
  text-decoration: none;
  color: $heading-color;
}

.menu-selected {
  background: $butterscotch;
  color: white;
}
.menu-selected:hover{
  color: white;
}
.menu-selected:focus{
  color: white;
}
