<div class="col-12 d-flex flex-column p-0 pt-3">
  <a *ngFor="let menu of menuItems" routerLink="{{menu['link']}}" class="menu" [class.menu-selected]="menuSelected(menu['highlight'])">
    <div class="menu-text">{{menu['title']}}</div>
  </a>
</div>
