// import Nebular Theme System and the default theme
@import '../../node_modules/@nebular/theme/styles/theming';
@import '../../node_modules/@nebular/theme/styles/themes/default';
@import "colors";
@import "theme";

// and change the variables you need, or simply leave the map empty to use the default values
// let's make it blue-ish instead of the default white color
$nb-themes: nb-register-theme((
  color-bg: #fff,
  layout-bg: #ebeff5,

  // Header styles
  header-height: 4rem,
  header-padding: 0,

  // Sidebar compacted
  sidebar-width-compact: 4.75rem,
  sidebar-padding: 0,

  // Layout Styles
  layout-padding: 0,

  // Tabs Style
  tabs-selected: $butterscotch,
  tabs-font-family: $font-primary,
  tabs-content-font-family: $font-primary,

  // Route Tabs Style
  route-tabs-selected: $butterscotch,
  route-tabs-font-family: $font-primary,
  route-tabs-content-font-family: $font-primary,

  // Others
  link-color-hover: inherit,

  color-success: $butterscotch,

), default, default); // let's leave it as default

nb-layout-header.fixed {
  z-index: 999 !important;
}
