@import "../../../../../theme/colors";
.select-box{
  border: 2px solid $greyish-brown;
  border-radius: 4px;
  padding: 8px 16px;
  height: 38px;
  overflow: hidden;
}

.edit-active-input {
  height: 40px;
}
