<div class="container">
  <div class="header d-flex p-3 hr">
    <div class="col-3 p-0 d-flex font-w-bold">
      Department
    </div>
    <div class="col-9 p-0 d-flex font-w-bold">
      Designation name
    </div>
  </div>
  <div *ngFor="let department of departmentData.departments; let i = index">
    <div *ngIf="department.designations.length">
      <div class="existing-categories p-3 d-flex hr" *ngIf="edit !== i; else editCategory">
        <div class="col-3 p-0 d-flex font-w-bold">
          {{department.name}}
        </div>
        <div class="col-9 p-0 d-flex font-w-bold">
          <div class="col-6 d-flex flex-column">
            <div *ngFor="let designation of department['designations']; let j = index">
              {{designation.name}}
            </div>
          </div>
          <div class="action-buttons ml-auto d-flex">
            <div class="px-1 mx-1" style="cursor: pointer" (click)="edit = i">
              <mat-icon class="px-2">edit</mat-icon>
            </div>
            <div class="px-1 mx-1" style="cursor: pointer" (click)="departmentData.departments[i]['designations'] = []">
              <mat-icon class="px-2">delete</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <ng-template #editCategory>
        <div class="existing-categories p-3 d-flex hr">
          <div class="col-3 p-0 d-flex font-w-bold">
            <input class="form-control text-input-med col-10" [(ngModel)]="departmentData.departments[i]['name']"/>
          </div>
          <div class="col-9 p-0 d-flex font-w-bold">
            <div class="select-box col-6" #existingSelectbox>
              <p (click)="existingSelectbox.style.height = existingSelectbox.style.height === '38px' ? 'auto' : '38px'">
                Select
                <i *ngIf="existingSelectbox.style.height === '38px'; else caretExpanded" class="fa fa-caret-down float-right"></i>
                <ng-template #caretExpanded><i class="fa fa-caret-up float-right"></i></ng-template>
              </p>
              <div class="my-3 px-2" *ngFor="let designation of department['designations']; let j = index">
                <div class="d-flex" *ngIf="editActiveExisting !== j; else editActiveTemplate">
                  <div class="w-100">{{designation.name}}</div>
                  <div class="mx-2" (click)="editActiveExisting = j" style="cursor: pointer"><mat-icon>edit</mat-icon></div>
                  <div class="mx-2" (click)="departmentData[i]['designations'].splice(i, 1)" style="cursor: pointer"><mat-icon>delete</mat-icon></div>
                </div>
                <ng-template #editActiveTemplate>
                  <div class="d-flex">
                    <input class="form-control text-input-med col-10" [(ngModel)]="departmentData.departments[i]['designations'][j]['name']"/>
                    <div class="col-1" style="cursor: pointer" (click)="editActiveExisting = -1"><mat-icon>done</mat-icon></div>
                  </div>
                </ng-template>
              </div>
              <div class="d-flex">
                <input class="form-control text-input-med col-10" #designationAddExisting/>
                <mat-icon class="plus-button mx-2 my-1" (click)="addSubDepartmentExisting(i, designationAddExisting.value)">add_circle</mat-icon>
              </div>
            </div>
            <div class="ml-auto px-2">
              <mat-icon (click)="edit = -1" style="cursor: pointer;">done</mat-icon>
            </div>
          </div>

        </div>
      </ng-template>
    </div>
  </div>

  <!-- New Entry -->
  <div class="add-new p-3 d-flex">
    <div class="col-3 p-0 d-flex font-w-bold">
      <div class="dropdown default col-10 px-0" ngbDropdown>
        <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
          {{activeInputName.name || 'Select Department'}}
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" (click)="setActiveInputName(i)" *ngFor="let department of departmentData.departments; let i = index" [hidden]="department.designations.length > 0">{{department.name}}</li>
        </ul>
      </div>
    </div>
    <div class="col-8 p-0 d-flex font-w-bold">
      <div class="select-box col-6" #addnewSelectbox>
        <p (click)="addnewSelectbox.style.height = addnewSelectbox.style.height === '38px' ? 'auto' : '38px'">
          Select
          <i *ngIf="addnewSelectbox.style.height === '38px'; else caretExpandedActive" class="fa fa-caret-down float-right"></i>
          <ng-template #caretExpandedActive><i class="fa fa-caret-up float-right"></i></ng-template>
        </p>
        <div class="my-3 px-2" *ngFor="let department of activeInputDesignations; let i = index">
          <div class="d-flex" *ngIf="editActive !== i; else editActiveTemplate">
            <div class="w-100">{{department.name}}</div>
            <div class="mx-2" (click)="editActive = i" style="cursor: pointer"><mat-icon>edit</mat-icon></div>
            <div class="mx-2" (click)="activeInputDesignations.splice(i, 1)" style="cursor: pointer"><mat-icon>delete</mat-icon></div>
          </div>
          <ng-template #editActiveTemplate>
            <div class="d-flex">
              <input class="form-control text-input-med col-10" [(ngModel)]="activeInputDesignations[i]['name']"/>
              <div class="col-1" style="cursor: pointer" (click)="editActive = -1"><mat-icon>done</mat-icon></div>
            </div>
          </ng-template>
        </div>
        <div class="d-flex">
          <input class="form-control text-input-med col-10" [(ngModel)]="activeInputDesignationName"/>
          <mat-icon class="plus-button mx-2 my-1" (click)="addDesignationsActive()">add_circle</mat-icon>
        </div>
      </div>
    </div>
    <div class="col-1">
      <mat-icon class="plus-button" (click)="addDesignations()">add_circle</mat-icon>
    </div>
  </div>

  <div class="d-flex text-center">
    <button class="primary-button my-5 mx-auto" (click)="updateDepartment()">Proceed</button>
  </div>
</div>
