<div class="h-100 d-flex justify-content-center align-items-center">
  <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
    <div class="form-group">
      <label for="uname">Username</label>
      <input type="text" class="form-control form-control-lg rounded-0" name="uname" id="uname" required="" [(ngModel)]="userData.email">
      <div class="invalid-feedback">Oops, you missed this one.</div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control form-control-lg rounded-0" id="pwd" name="password" required="" [(ngModel)]="userData.password">
      <div class="invalid-feedback">Enter your password too!</div>
    </div>
    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin" (click)="login()">Login</button>
  </form>
</div>
