.drawer{
  & {
    position: fixed;
    top: 4rem;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 9999999;
  }
  .drawer-gap {
    position: inherit;
    top: 4rem;
    left: 0;
    bottom: 0;
    width: 28rem;
  }
  .drawer-content {
    position: inherit;
    top: 4rem;
    right: 0;
    left: 28rem;
    bottom: 0;
    background: white;
    box-shadow: -5px 7px 12px #666;
  }
}
