@import "../../../../theme/colors";
@import "../../../../theme/theme";


.tabset{
  font-family: $font-primary;
}
.tab-container{
  padding: 24px;
}
form label{
  font-weight: bold;
}

input[type="submit"][disabled]{
  background: #e0e0e0;
}
