<nb-layout>
  <nb-sidebar>
    <nb-sidebar-header>
      <div class="header-text">SETUP</div>
    </nb-sidebar-header>
    <custom-menu [menuItems]="menuItems"></custom-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
