<div class="w-100 h-100 d-flex">
  <div class="col-5 left-container">

  </div>
  <div class="col-7">
    <div class="h-25"></div>
    <div class="col-8 d-flex flex-column m-auto justify-content-center align-items-center" *ngIf="!success; else registered">
      <h3 class="col-12 px-0 pb-3 m-auto">
        <span class="col-12">Create account</span>
      </h3>
      <div class="col-12 d-flex flex-column align-self-center">
        <label for="email" class="pt-3">Email</label>
        <input id="email" class="form-control col-12" disabled [value]="email">
        <label for="pass-1" class="pt-3">Create Password</label>
        <input id="pass-1" class="form-control col-12" type="password" [(ngModel)]="password">
        <label for="p-2" class="pt-3">Confirm Password</label>
        <input id="p-2" class="form-control col-12" type="password" [(ngModel)]="passwordCopy">

        <button class="my-5 btn btn-primary"  (click)="submit()" [disabled]="!password || !passwordCopy">
          Continue
        </button>
      </div>
    </div>
    <ng-template #registered>
      <div class="col-8 d-flex flex-column m-auto justify-content-center align-items-center">
        <h3>Your account has been successfully created</h3>
        <button class="btn btn-primary" (click)="goHome()">Continue</button>
      </div>
    </ng-template>
  </div>
</div>
