/* You can add global styles to this file, and also import other style files */

@import 'theme/nebular.theme';

// framework component styles which will use your new theme
@import '~@nebular/theme/styles/globals';

// install the framework
@include nb-install() {
  @include nb-theme-global();
};



html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}
a:focus{
  outline-color: transparent;
}
.main-layout-container{
  padding: 0 32px;
}

.text-input-med{
  display: block;
  border-radius: 4px;
  background: white;
  height: 40px;
  border: 2px solid #e0e0e0;
  padding: 8px !important;
  color: $heading-color;
  font-size: 16px;
}
.text-input-med:focus{
  border: 2px solid $butterscotch;
}

.primary-button{
  border-radius: 22px;
  background: $butterscotch;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
}
.primary-button:disabled{
  background: $semiwhite;
}

.plus-button{
  color: $butterscotch;
  font-size: 32px !important;
  cursor: pointer;
}
.plus-button.small{
  font-size: 24px !important;
}
input.form-control.ng-invalid:not(.ng-untouched){
  border: 2px solid $coral;
  border-radius: 4px;
}
.bg-white{
  background-color: white;
}

.primary-layout-white {
  background: white;
}

.primary-layout-margin-2 {
  margin: 10px 48px;
}

// Custom Dropdown
.nb-theme-default .btn {
  text-transform: none;
}
.nb-theme-default .dropdown.default {

  &{
    width: 100%;
  }
  .btn.btn-outline-primary {
    & {
      border: 2px solid #dadfe6;
      color: #2a2a2a;
      background-color: white;
      padding: 8px;
      height: 40px;
    }
    &:hover, &:active, &:focus, &:active:focus {
      border: 2px solid #dadfe6;
      color: #2a2a2a;
      background-color: white;
      box-shadow: none;
    }
    &:focus {
      border: 2px solid $butterscotch;
    }
    &:active:focus {
      border-color: $butterscotch;
    }
    & + .dropdown-menu {
      & {
        background-color: white;
        color: #2a2a2a;
        border: 2px solid $butterscotch;
        border-top: none;
      }

      & > .dropdown-item:hover {
        background-color: $butterscotch;
      }
    }
  }
}

.hr{
  border-bottom: 1px solid $semiwhite;
}
